<div class="experiences">
    <h2>Experiences</h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr>
                <th scope="row">2022.6 - 2023.3.6</th>
                <td>NLP Center@Tencent AI Lab</td>
                <td>Research Intern</td>
            </tr>
            <tr>
                <th scope="row">2020.9 - Now</th>
                <td>AIMind Group@Beijing Key Lab of Big Data Management and Analysis, RUC</td>
                <td>Research Assistant</td>
            </tr>
            <tr>
                <th scope="row">2021.6 - 2022.2</th>
                <td>Bing powered Xiaoice@Microsoft Software Technology Center at Asia</td>
                <td>Research Intern</td>
            </tr>
            <tr>
                <th scope="row">2021.9 - 2021.12</th>
                <td>Gaoling School of Artificial Intelligence, RUC</td>
                <td>Teaching Assistant</td>
            </tr>
        </table>
    </div>
</div>